<!DOCTYPE html>
<html>
  <head>
    <h1>Signature Status</h1>
  </head>
  <body>
    <div>
      <p>
        <strong>request_id</strong>: {{request_id}}
      </p>
      <p>
        name: {{inspector.name}}<br/>
        role: {{inspector.role}}<br/>
        email: {{inspector.email}}<br/>
        <strong>sign_id</strong>: {{inspector.sign_id}}<br/>
        status: {{inspector.status}}<br/>
      </p>
      <p>
        name: {{client.name}}<br/>
        role: {{client.role}}<br/>
        email: {{client.email}}<br/>
        <strong>sign_id</strong>: {{client.sign_id}}<br/>
        status: {{client.status}}<br/>
      </p>
    </div>
  </body>
</html>
